@import './base.css';

#app {
  max-width: 1280px;
  padding: 2rem;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--primary-color);
  transition: 0.4s;
}

.primary-color {
  color: var(--primary-color);
}

.resume-section {
  height: 100vh;
}

body {
  display: flex;
}

html {
  scroll-behavior: smooth;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(214, 100%, 67%, 0.2);
  }

  a.active {
    font-weight: bolder;
  }
}

@media (max-width: 480px) {
  #app {
    margin: auto;
  }
}
